flask==2.0.3
werkzeug==2.0.3
flask-login==0.6.2
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.46
mysql-connector-python==8.0.26
bleach==4.1.0
markdown==3.3.6
flask-paginate==2024.4.12
flask-wtf==1.0.0
python-dotenv==0.19.0
flask-wtf>=1.0.0
flask-uploads==0.2.1
wtforms>=3.0.0
