from flask_wtf import FlaskForm
from wtforms import StringField, TextAreaField, DateTimeField, IntegerField, FileField
from wtforms.validators import DataRequired, NumberRange
from werkzeug.utils import secure_filename

class EventForm(FlaskForm):
    title = StringField('Название', validators=[DataRequired()])
    description = TextAreaField('Описание', validators=[DataRequired()])
    date = DateTimeField('Дата и время', format='%Y-%m-%dT%H:%M', validators=[DataRequired()])
    location = StringField('Место проведения', validators=[DataRequired()])
    volunteers_needed = IntegerField('Требуется волонтеров', validators=[DataRequired(), NumberRange(min=1)])
    image = FileField('Изображение')

@bp.route('/create', methods=['GET', 'POST'])
@login_required
@role_required('admin')
def create():
    form = EventForm()
    
    if form.validate_on_submit():
        try:
            # Обработка загрузки файла
            filename = None
            if form.image.data:
                filename = secure_filename(form.image.data.filename)
                # Сохраните файл в папку static/uploads/
                form.image.data.save(f'static/uploads/{filename}')
            
            event = Event(
                title=form.title.data,
                description=form.description.data,
                date=form.date.data,
                location=form.location.data,
                volunteers_needed=form.volunteers_needed.data,
                image_filename=filename,
                organizer_id=current_user.id
            )
            
            db.session.add(event)
            db.session.commit()
            flash('Мероприятие успешно создано!', 'success')
            return redirect(url_for('events.index'))
            
        except Exception as e:
            db.session.rollback()
            flash(f'Ошибка при создании мероприятия: {str(e)}', 'danger')
    
    return render_template('events/create.html', form=form)