{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">

  <div class="card p-4 shadow bg-body-tertiary">
    <h2>Привет, {{ current_user.username }}!</h2>

    <div class="d-flex align-items-center my-3">
      <img src="{{ url_for('kp.uploaded_file', filename=current_user.avatar_url or 'default_avatar.png') }}"
           class="rounded-circle me-3" style="width:150px; height:150px;">
      <form method="POST" enctype="multipart/form-data" class="w-100">
        <label for="avatar" class="form-label">Загрузить новый аватар:</label>
        <input type="file" class="form-control mb-2" name="avatar" required>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    </div>

    <hr>

    <h4>Мои велосипеды:</h4>
    {% if my_bikes %}
      <ul>
        {% for b in my_bikes %}
          <li><a href="{{ url_for('kp.bike_detail', bike_id=b.id) }}">{{ b.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">Ты пока не добавил ни одного велосипеда.</p>
    {% endif %}

    <hr>

    <h4>Избранные велосипеды:</h4>
    {% if liked_bikes %}
      <ul>
        {% for b in liked_bikes %}
          <li><a href="{{ url_for('kp.bike_detail', bike_id=b.id) }}">{{ b.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">Ты ещё не поставил лайк ни одному велосипеду.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
