{% extends 'base.html' %}

{% block content %}
<div class="w-75 mx-auto mt-3">
    <h1 class="text-center">{{ post.title }}</h1>
    <p class="my-3"><strong>Автор:</strong> {{ post.author }}</p>
    <p class="my-1 text-muted">
        Опубликовано {{ post.date.strftime('%d.%m.%Y') if post.date else '' }}
    </p>
    {% if post.image_id %}
        <img src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Изображение поста" class="img-fluid my-3">
    {% endif %}
    <p class="my-3 text-wrap text-break">{{ post.text }}</p>
    <div class="card my-4">
        <div class="card-header">
            <h5 class="my-0">Оставьте комментарий</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('add_comment', post_id=post.id) }}">
                <div class="mb-2">
                    <label for="author">Ваше имя:</label>
                    <input type="text" name="author" id="author" class="form-control" required>
                </div>
                <div class="mb-2">
                    <label for="text">Комментарий:</label>
                    <textarea name="text" id="text" rows="3" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
    {% for comment in post.comments %}
    <div class="d-flex mb-3">
        <div class="flex-shrink-0">
            <img src="{{ url_for('static', filename='images/avacom.jpg') }}" alt="avatar" width="50" height="50">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mb-1">{{ comment.author }}</h5>
            <p>{{ comment.text }}</p>

            {% if comment.replies %}
            {% for reply in comment.replies %}
            <div class="d-flex mt-3">
                <div class="flex-shrink-0">
                    <img src="{{ url_for('static', filename='images/avacom.jpg') }}" alt="avatar" width="40" height="40">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1">{{ reply.author }}</h6>
                    <p>{{ reply.text }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
