{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Проверка номера телефона</h1>

<form method="POST" novalidate>
    <div class="mb-3">
        <label for="phone" class="form-label">Введите номер телефона:</label>
        <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="phone" name="phone" value="{{ raw }}">
        {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Проверить</button>
</form>

{% if formatted %}
<hr>
<h4>Отформатированный номер:</h4>
<p class="alert alert-success">{{ formatted }}</p>
{% endif %}
{% endblock %}
